body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#navMenu {
position: fixed;
top: 0;
left: 0;
right: 0;
background-color: #333;
display: flex;
justify-content: space-around;
align-items: center;
height: 50px;
padding: 0 20px;
box-sizing: border-box;
z-index: 1000;
}


#navMenu a {
    color: #fff;
    text-decoration: none;
    padding: 6px 8px;
    transition: background-color 0.3s, color 0.3s;
}
#navMenu a:hover {
    background-color: #111;
    color: #fff;
}
